body{
    font-family: 'Roboto', sans-serif !important;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.header{
    background-color: #FFF9F4;
}
.header li a{
    font-weight: 500;
    color: #3C3C3C;
}
.button-style{
    background-color: #3A4ADD;
    padding: 15px 20px;
    border-radius: 10px;
}
.button-style i{
    margin-right: 5px;
}
.shoes-card{
    border: none;
    border-radius: 10px;
}
.shoes-card h2, .section-title, .formal-shoes-card h2, .services-card h4, .shipping h4{
    color: #363958;
}
.shoes-card-footer{
    border: none;
    background-color: white;
}
.shoes-card img{
    background-color: #F1F1F1;
    border-radius: 10px;
    width: 92%;
}
.shoes-card-price{
    color: #FA804C;
}
.formal-shoes-card{
    border: none;
    border-radius: 10px;
}
.services-card{
    border: none;
    border-radius: 10px;
}
.services-card img{
    width: 100px;
    height: 100px;
}
.shipping-card-header{
    border: none;
    background-color: #fff;
}
.shipping i{
    font-size: 40px;
    color: #3ED9C7;
}
.banner-content{
    width: 400px;
}
.banner-content h1{
    color: #FA804C;
    font-size: 65px;
}
.banner-content span{
    color: #363958;
}
.shipping-card-content{
    border-radius: 5px;
}
.shipping-card{
    border: none;
}